<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Catalogue</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
   <ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-start">
        <h2>LOCAL</h2>
      </div>
    </ion-col>

    <ion-col>
      <div class="ion-text-end">
        <p><ion-router-link href="#" class="underline" routerLink='/local'>see all</ion-router-link></p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

    <ion-slides>
    <ion-slide>
  <ion-card>
        <img src="./assets/flannel.jpg" />
        <ion-card-content>
          FLANNEL
         <br>RM20.00
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
  <ion-card>
        <img src="./assets/flannel2.jpg" />
        <ion-card-content>
          FLANNEL
         <br>RM20.00
        </ion-card-content>
      </ion-card>
    </ion-slide>

     <ion-slide>
  <ion-card>
        <img src="./assets/collection.jpg" />
        <ion-card-content>
          BLAZER
         <br>RM30.00
        </ion-card-content>
      </ion-card>
    </ion-slide>
    </ion-slides>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-start">
        <h3>HAURABELLE</h3>
      </div>
    </ion-col>

    <ion-col>
      <div class="ion-text-end">
        <p><ion-router-link href="#" class="underline" routerLink='/local'>see all</ion-router-link></p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-slides>
<ion-slide>
<ion-card>
        <img src="./assets/dhea.jpg" />
        <ion-card-content>
          DHEA
          <br>RM50.00
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
<ion-card>
        <img src="./assets/mulan.jpg" />
        <ion-card-content>
          MULAN BASIC
          <br>RM50.00
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
<ion-card>
        <img src="./assets/offer.jpg" />
        <ion-card-content>
          CLAIRE
          <br>FREE POSTAGE!!
        </ion-card-content>
      </ion-card>
    </ion-slide>
</ion-slides>


<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-start">
        <h3>SABELLA</h3>
      </div>
    </ion-col>

    <ion-col>
      <div class="ion-text-end">
        <p><ion-router-link href="#" class="underline" routerLink='/local'>see all</ion-router-link></p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-slides>
  <ion-slide>
      <ion-card>
        <img src="./assets/salenna.jpg" />
        <ion-card-content>
          Salenna Pants
          <br>RM49.90
        </ion-card-content>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <img src="./assets/reesa.jpg" />
        <ion-card-content>
          REESA
          <br>RM60.00
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="./assets/lola.jpg" />
        <ion-card-content>
          LOLA
          <br>RM49.90
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>
