<ion-header>
 <ion-toolbar color="light">
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">WELCOME</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
  <div class="center">
  	<div class="ion-text-center">
  <h4>Welcome To</h4>
</div>
    <ion-img src="./assets/logo.JPG" class="ion-align-self-end"></ion-img>
    <div class="ion-text-center">
        <p>Sign up to checkout our collections!</p>
      </div>
      <br><ion-button expand="block" color="tertiary" routerLink='/login'>LOGIN</ion-button>
       <div class="ion-text-center">
      <br><p>-----------OR-----------</p>
      <br><ion-router-link href="#" class="underline" routerLink='/register'>Create New Account ?</ion-router-link>
  </div>
  </div>   
</div>
</ion-content>