<ion-header>
<ion-toolbar class="ion-text-center">
<ion-buttons slot="start">
<ion-back-button></ion-back-button>
</ion-buttons>
<ion-title>Ads</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
	<video
	width="100%"
	controls="controls"
	preload="metadata"
	autoplay="autoplay"
	webkit-playsinline="webkit-playsinline" class="VideoPlayer">
	<source src="assets/Tuesday.mp4" type="video/mp4" />
</video>



  <ion-card-header>
    <ion-card-subtitle>LOUNALULLABY</ion-card-subtitle>
    <ion-card-title>ON SALE</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   ALL FLANNEL FOR ONLY RM15.00 AND FREE POSTAGE FOR YALL 💜
.
GRAB NOW BEFORE IT GONE 🙈
  </ion-card-content>
</ion-card>

<ion-card>
	<video
	width="100%"
	controls="controls"
	preload="metadata"
	autoplay="autoplay"
	webkit-playsinline="webkit-playsinline" class="VideoPlayer">
	<source src="assets/sale.mp4" type="video/mp4" />
</video>



  <ion-card-header>
    <ion-card-subtitle>LOUNALULLABY</ion-card-subtitle>
    <ion-card-title>ON SALE</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   ONLY FOR TODAY LADIES!! 💜
.
GRAB NOW BEFORE IT GONE 🙈
  </ion-card-content>
</ion-card>

</ion-content>
