<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
         <ion-menu-toggle>
        <ion-item routerLink="/newlogin">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Catalogue</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/contact">
          <ion-icon name="clipboard-outline" slot="start"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/video">
          <ion-icon name="videocam-outline" slot="start"></ion-icon>
          <ion-label>Ads</ion-label>
        </ion-item>
      </ion-menu-toggle>
       <ion-menu-toggle>
        <ion-item routerLink="/about">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>